/* CSS from widget.grouping.css (added v2.28.4) */
/*
tr.group-header td {
  background: #eee;
}
.group-name {
  text-transform: uppercase;
  font-weight: bold;
}
.group-count {
  color: #999;
}
.group-hidden {
  display: none;
}
.group-header, .group-header td {
  user-select: none;
  -moz-user-select: none;
}

tr.group-header td i {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid #888;
  border-right: 4px solid #888;
  border-left: 4px solid transparent;
  margin-right: 7px;
  user-select: none;
  -moz-user-select: none;
}
tr.group-header.collapsed td i {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #888;
  border-right: 0;
  margin-right: 10px;
}
*/



.red {
	color: red;
}
.accordion a {
	color: #2A6496;
}
.ts-pager, select.btn-sm {
	display: inline-block;
}
select.btn-sm {
	width: 50px;
	height: 30px;
	vertical-align: top;
}
.dropdown-menu {
	min-width: 320px;
	font-size: 12px;
	padding: 10px;
}
.dropdown-menu h5 {
	text-align: right;
	margin-right: 4px;
}
.dropdown-menu li div {
	margin-bottom: 5px;
}
.output-separator, .output-replacequotes, .output-quotes {
	font-family: Tahoma, Geneva, sans-serif;
	min-width: 18px;
	height: 22px;
}
.output-separator-input, .output-replacequotes {
	width: 26px;
}
pre {
	/* override bootstrap setting */
	overflow-y: hidden !important;
}
.pager {
    text-align: left;
}



body {
	padding: 5px !important;
}